body {
    margin-top: 40px !important;
}

.navbar {
    min-height:30px;
    height: 40px; 

    h1 {
        font-size:20px;
        margin: 8px 0;
        a {
            color:#fff;
            text-decoration: none;
        }
    }
}